In [5]:
# Import dependencies 
import pandas as pd

In [6]:
# Save path to data set in a variable
purchase_file = r"E:\Georgia Tech\02-Homework\04-Pandas\pandas-challenge\HeroesOfPymoli\Resources\purchase_data.csv"

In [7]:
# Use Pandas to read data
purchase_file_df = pd.read_csv(purchase_file)
purchase_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [8]:
# Review information about data within dataframe. 
# Do I have all the necessary information to perform analysis (i.e. missing rows,etc.)

purchase_file_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [33]:
# Get count of total number of players
# Calculate the number of unique players in the DataFrame

player_count = len(purchase_file_df["SN"].unique())

# Place data found into a summary DataFrame with "Total Players" as the header
total_players_df = pd.DataFrame({"Total Players": [player_count]})

total_players_df

   Total Players
0            576

In [ ]:
# Run basic calculations to obtain number of unique items, average price, etc.
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame